EXPO_PUBLIC_SUPABASE_URL=https://ojwktuuehrrhtzimefez.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qd2t0dXVlaHJyaHR6aW1lZmV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4OTE5NDcsImV4cCI6MjA5NjQ2Nzk0N30.oY9wzniYv9oHwsktBHyyw0SwB8fkmVjpyeRqoFMAD7E
